.statics_index {
    #what {
        background-image: image-url("toppage1.png");
        background-size: cover;
        background-repeat: no-repeat;
        width:100%;
        height:700px;
    }
}